xgboost
mlflow<3
kafka-python
python-dotenv
pyyaml
catboost
pyspark==3.5.1
lightgbm
imblearn
pandas
scikit-learn
boto3
tqdm
tqdm-joblib

# pins to avoid breaking existing packages in global env
protobuf>=3.20.3,<6
numpy<2.2.0
