# Python
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# Runtime / local data
.local/
logs/
data/
cache/
spark_ivy_cache/

# Spark / JVM
*.jar
jars/
jars_deps/

# Checkpoints / ML artifacts (runtime)
mlruns/
spark-checkpoints/

# Third-party
ccloud-python-client/

spark-defaults.conf
config.yaml
.DS_Store